@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

$textBlack: rgb(41, 40, 40);
$textWhite: rgb(255, 255, 255);
$bgWrapper:  rgb(64, 92, 117);
$bgBoard:  rgb(213, 211, 211);
$bgItem: rgba(255, 255, 255, 0.2);

@mixin titleBoard {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
@mixin text {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: $textWhite;
}