@import "extra.scss";
.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.header{
	background-color: $bgWrapper;
	padding: 5px 0;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		display: flex;
		width: 100px;
		padding: 5px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:hover{
			border-radius: 5px;
			background-color: $bgItem;
		}
	}
	&__clock{
width: 100px;
background-color: $bgItem;
padding: 5px;
border-radius: 5px;
display: flex;
justify-content: center;
@include text;
	}
}
.root{
	height: 100vh;
	padding: 10px 0;
	background-image: url(../assets/images/kamil-nureev_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.container{
		display: flex;
		flex-wrap: nowrap;
	}
}
.board{
	max-width: 270px;
	width: 100%;
	padding: 10px;
	background-color: $bgBoard;
	border-radius: 5px;
	margin-right: 40px;
	margin-bottom: 20px;
	&:last-child{
		margin-right: 0;
	}
&__title{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	h2, p{
		@include titleBoard;
	}
}
&__block{
	display: flex;
	justify-content: space-between;
	background-color: $textWhite;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 10px;
}
&__list{
	list-style: none;
	.card{
		@include text;
	}
}
}